{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/galeria.css' %}">
{% endblock css %}
{% block content %}
  <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ul>
      <li><a href="{% url 'index' %}">Inicio</a></li>
      <li>Transparência</li>
      <li>Ex-Presidentes</li>
    </ul>
  </nav>

    <h1>GALERIA DOS EX-PRESIDENTES</h1>
    <section class="galeria">
        <div class="card">
            <img class="card-img" src="{% static 'img/ex-presidentes/foto-1.png' %}" alt="">
            <div class="card-info">
                <span>Domingos Sávio Dias Campos</span>
                <p>
                  1998, 1999, 2004, 2013, 2014, 2015, 2016
                </p>
            </div>
        </div>

        <div class="card">
          <img class="card-img" src="{% static 'img/ex-presidentes/foto-2.png' %}" alt="">
          <div class="card-info">
              <span>Maria Nini de Araújo Souto</span>
              <p>
                2003
              </p>
          </div>
        </div>

        <div class="card">
          <img class="card-img" src="{% static 'img/ex-presidentes/foto-3.png' %}" alt="">
          <div class="card-info">
              <span>Maria Neci de Oliveira Soares</span>
              <p>
                2005, 2006
              </p>
          </div>
        </div>

        <div class="card">
          <img class="card-img" src="{% static 'img/ex-presidentes/foto-4.png' %}" alt="">
          <div class="card-info">
              <span>Maria Nericivan A. C. Meira</span>
              <p>
                2007, 2008, 2011, 2012
              </p>
          </div>
        </div>

        <div class="card">
          <img class="card-img" src="{% static 'img/ex-presidentes/foto-5.png' %}" alt="">
          <div class="card-info">
              <span> Allysson Lindalrio M. Guedes</span>
              <p>
                2017, 2018
              </p>
          </div>
        </div>

        <div class="card">
          <img class="card-img" src="{% static 'img/ex-presidentes/foto-6.png' %}" alt="">
          <div class="card-info">
              <span>Diogo José de Araújo Alves</span>
              <p>
                2019, 2020
              </p>
          </div>
        </div>

        <div class="card">
          <img class="card-img" src="{% static 'img/ex-presidentes/foto-7.png' %}" alt="">
          <div class="card-info">
              <span>Getúlio Barbosa Antunes</span>
              <p>
                2021, 2022
              </p>
          </div>
        </div>

    </section>
{% endblock %}
