
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* border: 2px solid var(--background-200); */
  background-color: var(--background-150);
  width: 45vw;
  padding: 3rem;
  @media screen and (max-width: 576px) {
    width: 100vw;
    padding-block: 0 ;
    padding-inline: 0.7rem ;
  }
}

.error-title {
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.error-subtitle {
  font-size: 1.5rem;
  @media screen and (max-width: 576px) {
    font-size: 1.3rem;
  }
}

.error-link {
  color: var(--primary-500);
  &:hover{
    color: var(--primary-300);
  }
}

.search-form{
  width: 35vw;
  @media screen and (max-width: 576px) {
    width: 85vw;
  }
}