
.galeria {
  display: flex;
  justify-content: left;
  gap: 1rem;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    gap: 1.5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding:  0.4rem 0.7rem;
  transition: transform 0.3s;
  width: 7rem;
  background-color: var(--secondary-100);
  @media screen and (min-width: 768px) {
    width: 10rem;
  }
  @media screen and (min-width: 1024px) {
    width: 14rem;
  }
}

.card-img {
  border-radius: 10px;
  margin-bottom: 1rem;
  background-position: center;
  aspect-ratio: 1/1.19;
  object-fit: cover;
}

.card-info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-align: center;
}

.card-info span{
  font-weight: 600;
  font-size: 0.9rem;
  @media screen and (min-width: 768px) {
    font-size: 1.1rem;
  }
}
.card-info p{
  font-size: 0.8rem;
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.card:hover {
  transform: scale(1.05);
}


h1{
  font-size: 2rem;
  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
}

p{
  color: var(--text-950);
}