
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root{
    /* Border Radius */
    --rounded-radius: 50%;
    --default-radius: 0.5rem;
}

/* @media (prefers-color-scheme: light) and (prefers-color-scheme: dark) { */
:root {
  --text-50: #f2f3f3;
  --text-100: #e4e7e7;
  --text-200: #cacece;
  --text-300: #afb6b6;
  --text-400: #959d9d;
  --text-500: #7a8585;
  --text-600: #626a6a;
  --text-700: #495050;
  --text-800: #313535;
  --text-900: #181b1b;
  --text-950: #0c0d0d;

  --background-50: #eff1f6;
  --background-100: #dfe3ec;
  --background-200: #bec7da;
  --background-300: #9eacc7;
  --background-400: #7d90b5;
  --background-500: #5d74a2;
  --background-600: #4a5d82;
  --background-700: #384661;
  --background-800: #252e41;
  --background-900: #131720;
  --background-950: #090c10;

  --primary-50: #e5ecff;
  --primary-100: #ccd9ff;
  --primary-200: #99b3ff;
  --primary-300: #668cff;
  --primary-400: #3366ff;
  --primary-500: #0040ff;
  --primary-600: #0033cc;
  --primary-700: #002699;
  --primary-800: #001966;
  --primary-900: #000d33;
  --primary-950: #00061a;

  --secondary-50: #e9eefb;
  --secondary-100: #d4ddf7;
  --secondary-200: #a9baef;
  --secondary-300: #7e98e7;
  --secondary-400: #5376df;
  --secondary-500: #2854d7;
  --secondary-600: #2043ac;
  --secondary-700: #183281;
  --secondary-800: #102156;
  --secondary-900: #08112b;
  --secondary-950: #040816;

  --accent-50: #e7ecfe;
  --accent-100: #cedafd;
  --accent-200: #9eb5fa;
  --accent-300: #6d90f8;
  --accent-400: #3c6bf6;
  --accent-500: #0b45f4;
  --accent-600: #0938c3;
  --accent-700: #072a92;
  --accent-800: #051c61;
  --accent-900: #020e31;
  --accent-950: #010718;

}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--accent-200);
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-600);
  border-radius: 30px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background-50) !important;
}

body {
  font-family: 'Inter';
  font-weight: 400;
  background-color: var(--background-50);
  z-index: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
  & .container{
    flex: 1 1 0;
  }

}



body *{
  color: var(--text-950);
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 2.5rem; /* 40px */}

h2 {font-size: 2.158rem; /* 34.56px */}

h3 {font-size: 1.777rem; /* 28.48px */}

h4 {font-size: 1.333rem; /* 21.28px */}

h5 {font-size: 1rem; /* 16px */}

small {font-size: 0.750rem; /* 12px */}

fieldset{
  margin: 0 !important;
}

section {
  margin-bottom: 2rem;
}

.container{
  max-width: 1024px;
  @media screen and (min-width: 768px) {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .d-none-mobile {
    display: none !important;
  }
}

.d-mobile {
  display: none;
  @media screen and (max-width: 576px) {
    display: block;
  }
}

.d-none {
  display: none;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--default-radius);
  background-color: var(--primary-400) !important;
  box-shadow: none;
  color: var(--text-50);
  &:hover{
    scale: 1.1;
    color: var(--text-50);
  }
}

.btn i{
  color: var(--text-50);
}

.btn-rounded{
  border-radius: var(--rounded-radius) !important;
  width: 3rem;
  height: 3rem;
}

.input-search{
  border-radius: 25rem;
  background-color: transparent;
  &:focus{
    border: none;
  }
}

.btn-search{
  border-radius: var(--default-radius);
  width: 30% !important;
}

.about-camara h1{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.about-camara .content{
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.about-camara .content .img img{
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 150rem;
}


[role=group], [role=search] {
  box-shadow: none;
  border: none;
}

.help-form{
  background-color: var(--background-100);
  padding: 0.5rem 1rem;
  border-radius: var(--default-radius);
}
.help-form p{
  margin: 0;
}

.breadcrumb-nav ul li{
  padding: 0 0.5rem 0.7rem 0.5rem;
  
}

.active-link{
  color: var(--accent-500) !important;
}

.btn-ano {
  width: 40px;
}

.icone-pdf{
  color: var(--accent-800);
  &:hover{
    scale: 1.3;
  }
}

.badge-status{
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    scale: 1.1;
    color: var(--text-50) !important;
  }
  &:hover{
    scale: 1.1;
  }
}

.document-link{
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  &:hover{
    scale: 1.05;
  }
}

.active-year{
  background-color: transparent !important;
  border: var(--primary-400) 0.1rem solid !important;
  color: var(--text-900);
  &:hover{
    color: var(--text-900);
  }
}
.page-link{
  text-decoration: none;
}

.disabled *{
  color: var(--accent-300);
  &:hover{
    scale: 1 !important;
    color: var(--accent-300);
  }
}

.asteriskField{
  display: none;
}