{% extends "base.html" %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock css %}
{% block content %}
<main>
  <div class="error-container">
    <div class="error-title">Erro 404</div>
    <div class="error-subtitle mb-3">Essa página não foi encontrada . . .</div>
    <div class="mb-3">Entre em <a class="error-link"  href="{% url 'ouvidoria' %}">contato conosco.</a></div>
    <div class="search-form mb-3">
      <form action="{% url 'search' %}" method="get">
        <fieldset role="group">
          <input class="input-search" type="text" name="q" id="id-search" placeholder="O que você procura? CTRL+P">
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </fieldset>
      </form>
    </div>
    <div class="">Volte para a <a class="error-link" href="{% url 'index' %}">página inicial.</a></div>
  </div>
</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock js %}