{% load static %}
<div class="container-fluid footer">
  <footer class="container ">
    <div class="channels">
      <img src="{% static 'img/footer/foto-1.png' %}" alt="imagem do rodapé">
      <ul>
        <li>Canais de Atendimento</li>
        <li><span>Telefone:</span> (84) 3251-2273</li>
        <li><span>E-Mail:</span> camaraspp@outlook.com</li>
        <li><span>Endereço:</span> Rua José Claudino, 418,</li>
        <li>Bairro Santos Dumont - CEP: 59460-000</li>
        <li><span>Horário:</span> De Segunda a Sexta, das 8:00 às 13:00</li>
      </ul>
    </div>
    <div class="socials">
      <h1>Redes Sociais</h1>
      <div class="list">
        <a href="https://www.instagram.com/camara.spp/" target="_blank" title="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/camaraspp" target="_blank" title="Facebook">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.youtube.com/c/CamaraSPP" target="_blank" title="YouTube">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>
  </footer>
</div>