{% load static %}
<div class="container-fluid navbar">
  <nav class="container">
    <ul>
      <li class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="Logo da Câmara"></a></li>

    </ul>
    <ul class="nav-btn-menu d-mobile ">
      <li><button class="btn btn-rounded btn-menu">&#9776;</button></li>
    </ul>
    <ul class="nav-menu d-none-mobile">
      <li><a class="nav-item-link {% if request.resolver_match.url_name == '' %}active-link{% endif %}" href="{% url 'index' %}">Início</a></li>
      <li><a class="nav-item-link {% if request.resolver_match.url_name == 'municipio' %}active-link{% endif %}" href="{% url 'municipio' %}">Município</a></li>
      <li><a class="nav-item-link {% if request.resolver_match.url_name == 'ouvidoria' %}active-link{% endif %}" href="{% url 'ouvidoria' %}">Ouvidoria</a></li>
      <li><a class="nav-item-link {% if request.resolver_match.url_name == 'esic' %}active-link{% endif %}" href="{% url 'esic' %}">E-Sic</a></li>
      <li class="d-none-mobile"><button class="btn bnt-menu btn-rounded" id="open-sidebar">&#9776;</button></li>
    </ul>
  </nav>
</div>
