<div class="sidebar ">
  <ul class="sidebar-content">
    <li class="nav-item">
      <details class="item nav-item-link">
        <summary>Institucial</summary>
        <ul>
          <li>...</li>
          <li>...</li>
        </ul>
      </details>
    </li>

    <li class="nav-item">
      <details class="item nav-item-link">
        <summary>Lesgislativo</summary>
        <ul>
          <li>...</li>
          <li>...</li>
        </ul>
      </details>
    </li>

    <li class="nav-item">
      <details class="item nav-item-link">
        <summary>Transparência</summary>
        <ul>
          <li><a href="">...</a></li>
          <li><a href="{% url 'ex-presidentes' %}"> Ex-Presidentes</a></li>
          <li><a href="{% url 'projetos-de-lei' %}">Projetos de Lei</a></li>
        </ul>
      </details>
    </li>
  </ul>
</div>
<div class="overlay"></div>
